
/* 메인 */
.mainListContainer {
    display: flex;
    flex-wrap: wrap;    
}
.mainListSub{
    flex-grow: 1;
    padding:10px;
    flex-basis: 50%;
    min-width:300px;
}

.mainListSub > div{
    border:1px #666 solid;
    padding:5px;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:50%;
}

/* footer */
.footerContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
  }
  
.footerSub{
    flex-grow: 0;
    padding:10px;
}

.footerSub div{
    padding:5px;
}


.greedy-nav .visible-links a.active:before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background: #6f777d;
    width: 100%;
    transition:none;
    transform:none;
}


.imgContainer{
    display: flex;
    flex-wrap: wrap;
    /* border:1px red solid; */
    align-items: center;
    align-content: flex-start; 
}



.listData{
    margin-bottom:5vw;
}
  
.listData .image{
    width:30%;
    padding:10px;
}
  
.listData .imageContext{
    /* border:1px blue solid; */
    word-wrap: break-word;
    width:70%;
    padding:10px;
    /* margin-top: 50px; */
    height:100%;
}


.mainListSubContainer{
    display: flex;
    flex-basis: 0;
    align-items: center;
}

.mainListThum{
    padding:5px;
    max-height: 150px;
}

.mainContainer{
    width:100%;
    background: url("/assets/images/mainBgSample.jpg")  center center no-repeat;
    background-size: cover;
  
  }


/*  Scroll Back To Top Button start */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  .videoContainer{
    width:100%;
  }
/*  Scroll Back To Top Button end */

