@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
::-moz-selection {
	color: #fff;
	background: #4d53f5;
}
::selection {
	color: #fff;
	background: #4d53f5;
}

body {
	font-family: "Spoqa Han Sans Neo", "sans-serif", "돋움", dotum;
	line-height: 1;
	margin: 0 auto;
	padding: 0;
	max-width: 1920px;
}
body * {
	font-family: "Spoqa Han Sans Neo", "sans-serif", "돋움", dotum;
}

/* footer */
.footerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footerContainer .footerSub {
	flex-grow: 0;
	padding: 10px;
}
.footerContainer .footerSub div {
	padding: 5px;
}

.greedy-nav {
	height: 3.64em;
	padding: 0 1em;
}
.greedy-nav .visible-links {
	height: 100%;
}
.greedy-nav .visible-links li {
	display: flex;
	align-items: center;
	justify-content: center;
}
.greedy-nav .visible-links li a {
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 0.82em;
}
.greedy-nav .visible-links li a:hover {
	color: #4d53f5;
}
.greedy-nav .visible-links li a:hover:before {
	background: #4d53f5;
}
.greedy-nav .visible-links li a.active {
	color: #4d53f5;
}
.greedy-nav .visible-links li a.active:before {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	background: #4d53f5;
	width: 100%;
	transition: none;
	transform: none;
}

.imgContainer {
	display: flex;
	flex-wrap: wrap;
	/* border:1px red solid; */
	align-items: center;
	align-content: flex-start;
}

.mainListSubContainer{
    display: flex;
    flex-basis: 0;
    align-items: center;
}

.mainListThum{
    padding:5px;
    max-height: 150px;
}

.mainContainer{
    width:100%;
    background: url("/assets/images/mainBgSample.jpg")  center center no-repeat;
    background-size: cover;
  
  }


/*  Scroll Back To Top Button start */
#myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: red; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
}
#myBtn:hover {
	background-color: #555; /* Add a dark-grey background on hover */
}

  .videoContainer{
    width:100%;
  }

.videoContainer {
	width: 100%;
}

/*  Scroll Back To Top Button end */
.flexBox {
	display: flex;
}

.masthead {
	height: 3.64em;
	background-color: #fff;
	box-sizing: border-box;
	position: relative;
}
.masthead .masthead__inner-wrap {
	padding: 0;
	height: 3.64em;
}
.masthead .masthead__inner-wrap nav {
	background-color: #fff;
}
.masthead .masthead__inner-wrap nav .site-logo {
	width: 4.27em;
}
.masthead .masthead__inner-wrap nav .masthead__menu-item:last-child a:hover:before {
	display: none;
}

.page__footer {
	background-color: #e9ecf3;
	margin-top: 0;
}
.page__footer footer {
	color: #949cb2;
}
.page__footer footer .footerSub {
	font-size: 0.73em;
}
.page__footer footer .footerSub h1 img {
	width: 7.18em;
}
.page__footer footer .footerSub h2 {
	color: #616472;
	margin: 0 0 0.5rem;
}
.page__footer footer .footerSub:last-child {
	text-align: right;
}

/* 메인 */
#main {
	padding: 0;
}

.mainHeader {
	text-align: center;
	font-size: 1.82rem;
	margin: 3rem 0;
}

.mainListContainer {
	display: flex;
	flex-wrap: wrap;
}
.mainListContainer .mainListSub {
	flex-grow: 1;
	padding: 10px;
	flex-basis: 50%;
	min-width: 300px;
}
.mainListContainer .mainListSub ul {
	padding: 0;
	margin: 0;
}
.mainListContainer .mainListSub ul li {
	list-style: none;
	border-bottom: 2px solid #f1f1f1;
	margin: 0;
	padding: 0.9em;
}
.mainListContainer .mainListSub ul li a {
	text-decoration: none;
	color: #999;
	font-size: 0.64em;
	display: flex;
	justify-content: space-between;
}
.mainListContainer .mainListSub ul li a:hover {
	text-decoration: none;
	color: #666;
}
.mainListContainer .mainListSub h2 {
	flex: 1;
	font-size: 0.82em;
	line-height: 1.4;
	margin: 0;
	color: #333333;
	font-weight: 400;
	padding: 0 0.5rem 1.2rem;
}
.mainListContainer .mainListSub h2 strong {
	display: block;
}
.mainListContainer .mainListSub > p {
	word-break: keep-all;
	background-color: #f7f8fd;
	color: #333333;
	font-size: 1.27em;
	font-weight: bold;
	justify-content: space-between;
	padding: 1.36em 1.26em;
	border-bottom: 2px solid #9bb0f9;
	margin: 0;
}
.mainListContainer .mainListSub > p a {
	text-decoration: none;
	font-size: 1rem;
	color: #333;
}
.mainListContainer .mainListSub > p a:hover {
	text-decoration: none;
}
.mainListContainer .mainListSub .ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 50%;
}

.mainListSubContainer {
	display: flex;
	flex-basis: 0;
	align-items: center;
}
.mainListSubContainer article {
	align-items: center;
	padding: 1.73em 1.45em;
	border-bottom: 2px solid #f1f1f1;
}
.mainListSubContainer article figure {
	margin: 0 1.73em 0 0;
}
.mainListSubContainer article figure img {
	border-radius: 0;
	margin: 0;
	width: 134px;
	height: 134px;
}
.mainListSubContainer article > div a {
	text-decoration: none;
}
.mainListSubContainer article > div a .title {
	font-size: 1.1em;
	color: #333;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 1em;
	display: block;
}
.mainListSubContainer article > div a p {
	font-size: 0.73em;
	line-height: 1.4;
	margin-bottom: 0.9em;
	color: #333;
}
.mainListSubContainer article > div a .date {
	font-size: 0.64em;
	color: #999999;
}
.mainListSubContainer article > div a:hover, .mainListSubContainer article > div a:visited {
	text-decoration: none !important;
}

.page__hero--overlay {
	display: flex;
	align-items: center;
}
.page__hero--overlay .page__title {
	text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	margin-bottom: 0;
}

.entries-list ul {
	margin: 0;
	padding: 0;
}
.entries-list ul li {
	background-color: #f7f8fd;
	list-style: none;
	margin: 0.36em 0;
	padding: 1.27em 1.27em 1.27em 1.5em;
	position: relative;
}
.entries-list ul li:first-of-type {
	margin-top: 0;
}
.entries-list ul li:before {
	content: "";
	width: 0.27em;
	height: 0.27em;
	background-color: #dbdbdb;
	border-radius: 1em;
	position: absolute;
	left: 0.73em;
	top: 1.7em;
}
.entries-list ul li a {
	text-decoration: none;
	color: #333333;
	font-size: 0.82em;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	display: block;
	white-space: nowrap;
}

.page__content {
	margin: 4.55em 1em;
}

.shineData {
	text-align: center;
}
.shineData h1 {
	font-size: 1.82em;
	margin-bottom: 1.73em;
}
.shineData p {
	font-size: 0.82em;
	color: #333333;
	line-height: 1.4;
	margin-bottom: 2.18em;
	position: relative;
	padding-top: 1.27em;
}
.shineData p:before {
	content: "";
	display: block;
	width: 20px;
	height: 2px;
	background-color: #999999;
	position: absolute;
	top: 0;
	left: calc(50% - 10px);
}
.shineData .btn_more {
	display: inline-block;
	padding: 1.23em 3.18em;
	color: #4d53f5;
	font-size: 0.91em;
	text-decoration: none;
	border: 2px solid #4d53f5;
	border-radius: 10em;
}
.shineData .btn_more:hover {
	background-color: #4d53f5;
	color: #fff;
	text-decoration: none !important;
}

.imageNewsContainer {
	display: flex;
	flex-wrap: wrap;
}
.imageNewsContainer .subContainer {
	flex-direction: column;
	width: 31%;
	margin: 0 1% 3.6em;
}
.imageNewsContainer .subContainer a {
	text-decoration: none;
}
.imageNewsContainer .subContainer a:hover {
	text-decoration: none;
}
.imageNewsContainer .subContainer .imageContext {
	margin-top: 1.5em;
}
.imageNewsContainer .subContainer .imageContext figure {
	margin: 0;
}
.imageNewsContainer .subContainer .imageContext figure img {
	margin-bottom: 0;
}
.imageNewsContainer .subContainer .imageContext .title {
	font-size: 1.27em;
	color: #333;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.3;
	margin-bottom: 1.1em;
	display: block;
}
.imageNewsContainer .subContainer .imageContext p {
	font-size: 0.82em;
	line-height: 1.3;
	margin-bottom: 1em;
	color: #333333;
}
.imageNewsContainer .subContainer .imageContext .date {
	font-size: 0.82em;
	color: #999999;
}

.listData {
	border-bottom: 2px solid #f1f1f1;
	padding: 1.77em 0;
}
.listData:first-of-type {
	padding-top: 0;
}
.listData > a {
	text-decoration: none !important;
}
.listData > a:hover {
	text-decoration: none;
}
.listData .flexBox {
	justify-content: flex-start;
}
.listData figure {
	width: 16.86em;
	height: 9.5em;
	margin: 0;
	margin-right: 1.5em;
}
.listData figure img {
	margin-bottom: 0;
	width: 100%;
	height: 100%;
}
.listData .title {
	font-size: 1.27em;
	color: #333;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.3;
	margin-bottom: 1.1em;
	display: block;
}
.listData p {
	font-size: 0.82em;
	line-height: 1.3;
	margin-bottom: 1em;
	color: #333333;
}
.listData .date {
	font-size: 0.82em;
	color: #999999;
}
.listData .imageContext {
	margin-top: 0.4em;
}