---
layout: splash_eng
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% assign entries = site[page.collection] %}

  {% if page.sort_by %}
    {% assign entries = entries | where_exp: "page", "page.language == 'eng'" | sort: page.sort_by %}
  {% endif %}

  {% if page.sort_order == 'reverse' %}
    {% assign entries = entries | where_exp: "page", "page.language == 'eng'" | reverse %}
  {% endif %}
  <ul>
  {%- for post in entries -%}
    {%- unless post.hidden -%}
      {% if post.collection == 'posts_eng' %}
      <li>
        <a href="{{post.url}}" target="_blank">
          <div class="flexBox">
            <article class="postTit">
              <span class="title">{{post.title}}.</span>
              <span class="desc">감염병 대응을 위한 바이러스 분석에 대한 연구 자료</span>
            </article>
            <article class="postInfo">
              <span>date : '22.00.00</span>
              <span>institution : KISTI </span>
              <span>journal : ○○○</span>
            </article>

          </div>
        </a>
      </li>
      {% else %}
      <li>
        <a href="{{post.sourceUrl}}" target="_blank">
          <div class="flexBox">
            <article class="postTit">
              <span class="title">{{post.title}}.</span>
              <span class="desc">감염병 대응을 위한 바이러스 분석에 대한 연구 자료</span>
            </article>
            <article class="postInfo">
              <span>date : '22.00.00</span>
              <span>institution : KISTI </span>
              <span>journal : ○○○</span>
            </article>

          </div>
        </a>
      </li>
      {% endif %}
    {%- endunless -%}
  {%- endfor -%}
  </ul>
</div>