---
layout: splash_eng
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% assign entries = site[page.collection] %}

  {% if page.sort_by %}
    {% assign entries = entries | where_exp: "page", "page.language == 'eng'" | sort: page.sort_by %}
  {% endif %}

  {% if page.sort_order == 'reverse' %}
    {% assign entries = entries | where_exp: "page", "page.language == 'eng'" | reverse %}
  {% endif %}
  <lu>
  {%- for post in entries -%}
    {%- unless post.hidden -%}
      {% if post.collection == 'posts_eng' %}
      <li><a href="{{post.url}}" >{{post.title}}</a></li>
      {% else %}
      <li><a href="{{post.sourceUrl}}" target="_blank">{{post.title}}</a></li>
      {% endif %}
    {%- endunless -%}
  {%- endfor -%}
  </lu>
</div>