---
layout: splash_eng
title: Data Analysis
# permalink: /eng/analysis/
header:
  overlay_image: /assets/images/bg_analysis.jpg
tag: Data Analysis
collection: posts_eng
height : 16.36em

---
<div>
<!-- This loops through the paginated posts -->
{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for post in paginator.posts %}

  {% if post.header.teaser %}
    <div class="listData">
      <a href="{{ post.url }}" target="_blink">
        <article class="flexBox">
          <figure><img src="{{post.header.teaser | relative_url}}"></figure>
          <div class="imageContext">
            <div class="title">{{ post.title }}</div>
            <p>{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
            <span class="date">{{ post.date | date: "%Y.%m.%d" }}</span>
          </div>
        </article>
      </a>
    </div>  
  {% else %}
    <div class="listData">
      <a href="{{ post.url }}" target="_blink">
        <article class="flex-v">
          <div class="title">{{ post.title }}</div>
          <p>{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
          <span class="date">{{ post.date | date: "%Y.%m.%d" }}</span>
        </article>
      </a>
    </div>  
  {% endif%}
{% endfor %}
</div>
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
